﻿@model IEnumerable<AndroidMarket.Models.Entities.Grade>

@{
    ViewBag.Title = "الصفوف";
}

<h2>الصفوف</h2>

<p>
    @Html.ActionLink("إضافة صف", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>العمليات</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.GradeId }) |           
            @Html.ActionLink("حذف", "Delete", new { id=item.GradeId })|
            @Html.ActionLink("التطبيقات","Index","Applications",new {id=item.Name},null)
        </td>
    </tr>
}

</table>
