﻿@model AndroidMarket.Models.Entities.Application
@{
    ViewBag.Title = "Add Screenshot";
}

<h2>@Model.Name</h2>
@foreach (var screenshot in Model.Screenshots)
{
    <div class="float-right">
      <div class="thumbnail">
          <a href="@Html.GetThumbnailPath(screenshot.Image.StorageName)">
            <img src="@Html.GetThumbnailPath(screenshot.Image.StorageName)" />   
              </a>
      </div>
               <div class="clear-fix"> </div>
          <div style="vertical-align:central;text-align:center;">
              <a class="button" href="@Url.Action("Delete","Screenshots",new {id=screenshot.ScreenshotId})">
                  <span>حذف</span>
              </a>
          </div>

    </div>
}
<div class="clear-fix">
</div>
<br />
<hr />
      @using (Html.BeginForm("add", "Screenshots", FormMethod.Post, new { enctype = "multipart/form-data" }))
      {
    <p>
        <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
        <input type="file" name="Image" id="Image" />
        <input type="submit" value="إضافة" /> 
        
    </p>
}