﻿@model AndroidMarket.Models.ModelViews.CreateApplicationViewModel

@{
    ViewBag.Title = "أضافة تطبيق";
    var application = Model.Application;
    var grades = Model.Grades;
}
<div class="box-titlebar">
    <h3>إضافة تطبيق</h3>
</div>
<div class="box-content">
    @using (Html.BeginForm("Create", "Applications", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" name="File_ApkId" id="ApkId" value="2" />
        <input type="hidden" name="File_ThumbnailId" id="ThumbnailId" value="2" />
        <fieldset>
            <legend>تطبيق</legend>

            <div class="editor-label">
                @Html.LabelFor(model=>application.Grade.Name)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model=>application.Grade_GradeId,new SelectList(grades,"GradeId","Name"))
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => application.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => application.Name)
                @Html.ValidationMessageFor(model => application.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Apk)
            </div>
            <div class="editor-field">
                <input class="text-box single-line"
                    data-val-length="The field ApkName must be a string with a maximum length of 100."
                    data-val-length-max="100"
                    data-val-required="The ApkName field is required."
                    id="Apk"
                    name="Apk"
                    type="file" value="" />
                @Html.ValidationMessageFor(model => model.Apk)
            </div>



            <div class="editor-label">
                @Html.LabelFor(model => model.Thumbnail)
            </div>
            <div class="editor-field">
                <input class="text-box single-line"
                    data-val-length="The field ApkName must be a string with a maximum length of 100."
                    data-val-length-max="100"
                    data-val-required="The ApkName field is required."
                    id="Thumbnail"
                    name="Thumbnail"
                    type="file" value="" />
                @Html.ValidationMessageFor(model => model.Thumbnail)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => application.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => application.Description)
                @Html.ValidationMessageFor(model => application.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => application.PackageName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => application.PackageName)
                @Html.ValidationMessageFor(model => application.PackageName)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
