﻿@model AndroidMarket.Models.Entities.Application

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>هل أنت متاكد من حذف هذا التطبيق</h3>
    <div class="float-right">
        <div class="thumbnail">
            <img src="@Html.GetThumbnailPath(Model.Thumbnail.StorageName)" />
        </div>
    </div>
    <div class="float-right">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apk.Size)
                </th>
                <td>
                    @Html.FormatByte(Model.Apk.Size)
                </td>
            </tr>
            <tr>
                <th>
                    الصف
                </th>
                <td>
                    @Html.DisplayFor(model => model.Grade.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td>
                    @Html.NL2Br(Model.Description);
                </td>
            </tr>
        </table>
        @using (Html.BeginForm()) {
    <p>
        <input type="submit" value="حذف" /> 
        
    </p>
}
    </div>
<div class="clear-fix"></div>

@Html.ActionLink("Back to List", "Index")