﻿@model AndroidMarket.Models.Entities.Application
@using AndroidMarket.Helpers
@{
    ViewBag.Title = "تفاصيل " + Model.Name;
}

<h2>@ViewBag.Title</h2>
    <div class="float-right">
        <div class="thumbnail">
            <img src="@Html.GetThumbnailPath(Model.Thumbnail.StorageName)" />
        </div>
    </div>
    <div class="float-right">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apk.Size)
                </th>
                <td>
                    @Html.FormatByte(Model.Apk.Size)
                </td>
            </tr>
            <tr>
                <th>
                    الصف
                </th>
                <td>
                    @Html.DisplayFor(model => model.Grade.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td>
                    @Html.NL2Br(Model.Description);
                </td>
            </tr>
        </table>
    </div>

<div class="clear-fix"></div>
<br />
<hr />
<h3>المعرض</h3>
@foreach (var screenshot in Model.Screenshots)
{
    <div class="float-right">
      <div class="thumbnail" style="width:100px;height:100px;">
          <a href="@Html.GetThumbnailPath(screenshot.Image.StorageName)">
            <img src="@Html.GetThumbnailPath(screenshot.Image.StorageName)" />   
              </a>
      </div>
    </div>
}
<div class="clear-fix"></div>
<p>    
    @Html.ActionLink("عودة للتطبيقات", "Index", "Home", new { id=Model.Grade.Name},null)
</p>
