﻿@model AndroidMarket.Models.ModelViews.CreateApplicationViewModel
@using AndroidMarket.Helpers

@{
    ViewBag.Title = "Edit";
    var application = Model.Application;
    var grades = Model.Grades;
}

<h2>تعديل</h2>
 <div class="float-right">
        <div class="thumbnail">
            <img src="@Html.GetThumbnailPath(Model.Application.Thumbnail.StorageName)" />
        </div>
    </div>
<div class="clear-fix" ></div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Application</legend>
        @Html.HiddenFor(model => application.ApplicationId)
        @Html.HiddenFor(model => application.File_ThumbnailId)
        @Html.HiddenFor(model => application.File_ApkId)
        <div class="editor-label">
                @Html.LabelFor(model=>application.Grade.Name)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model=>application.Grade_GradeId,new SelectList(grades,"GradeId","Name"))
            </div>

        <div class="editor-label">
            @Html.LabelFor(model => application.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => application.Name)
            @Html.ValidationMessageFor(model => application.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => application.Apk.FileName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => application.Apk.FileName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => application.Apk.Size)
        </div>
        <div class="editor-field">
            @Html.FormatByte(application.Apk.Size)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => application.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => application.Description)
            @Html.ValidationMessageFor(model => application.Description)
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => application.PackageName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => application.PackageName)
            @Html.ValidationMessageFor(model => application.PackageName)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
