﻿@model IEnumerable<AndroidMarket.Models.Entities.Application>
@using AndroidMarket.Helpers
@{
    ViewBag.Title = "التطبيقات";
}

<div class="box-titlebar">
    <h3>التطبيقات</h3>
</div>
<div class="box-content">
    <p>
        @Html.ActionLink("إضافة", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apk.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageName)
            </th>
            <th>@Html.DisplayNameFor(model => model.Grade.Name)</th>
            <th>العمليات</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.FormatByte(item.Apk.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.Grade.Name)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.ApplicationId }) |
                    @Html.ActionLink("screenshots", "index","screenshots", new { id = item.ApplicationId },null) |
                    @Html.ActionLink("تفاصيل", "Details", new { id = item.ApplicationId }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.ApplicationId })
                </td>
            </tr>
        }

    </table>
</div>
