﻿@model AndroidMarket.Models.ModelViews.GradesApplicationsViewModel
@using AndroidMarket.Helpers

@{
    ViewBag.Title= "التطبيقات";
}

<div id="body">
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <div class="float-right">
            المرحلة الدراسية
        </div>
        <div class="float-right">
            @Html.DropDownList("id", new SelectList(Model.Grades, "Name", "Name"),"<المرحلة الدراسية>", new { onchange = "submitGrade(this);" })
        </div>            
    }
    <div class="clear-fix"></div>
    <hr />

    <div class="items-container">
        @if (Model.Applications != null)
        {
            foreach (var app in Model.Applications)
            {		 	
            <div class="item">
                <div class="item-wrapper">
                    <div class="item-thumbnail-wrapper">
                        <a class="thumbnail-href" href="@Url.Action("Details", "Applications", new { id = app.ApplicationId })">
                            <img src="@Html.GetThumbnailPath(app.Thumbnail.StorageName)" class="thumbnail-img" />
                        </a>
                    </div>
                    <div class="item-detail">
                        <span class="item-title">@Html.DisplayFor(m => app.Name)</span>
                    </div>
                    <div class="item-description-wrapper">
                        <div class="item-description">
                            <a href="@Url.Action("Details", "Applications", new { id = app.ApplicationId })">
                                <span>تفاصيل</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    </div>

</div>


<script type="text/javascript">

    function submitGrade(item) {
        if($(item).val()!="<المرحلة الدراسية>")
        $(item).closest("form").submit();
    }


    //$(document).ready () ->
    // $("select#menu_id").change(-> $(this).closest("form").submit())
</script>
