﻿<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">سوق أندرويد</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("التطبيقات", "Index", "Home")</li>
                        <li>@Html.ActionLink("نبذة", "About", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h2>لتحميل التطبيقات الرجاء أولا تحميل تطبيق السوق من<a id="downloadMarket" href="javascript:void(0)">هنا</a>  </h2>
                </hgroup>
                <p>
                </p>
            </div>
        </section>
        @RenderSection("featured", required: false)

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            //$("#dialog").dialog({ autoOpen: false });
            $("#downloadMarket").click(function () {
                $("#dialog").dialog({
                    dialogClass: "no-close",
                    buttons: [
                        {
                            text:"بدء التحميل",
                            click: function () {
                                $(this).dialog("close");
                           //     var form = document.createElement("form");
                            //    form.setAttribute("method", "GET");
                             //   form.setAttribute("action", "");
                                //  form.submit();
                                var iframe = document.createElement("iframe");
                                iframe.setAttribute("src", "@Url.Action("Market","Applications")");
                                iframe.setAttribute("width",0);
                                iframe.setAttribute("height",0);
                                iframe.setAttribute("frameborder",0);
                                $(document.body).prepend($(iframe));
                                //width="0" height="0" ="0"
                }

                        }
                    ]
                });//.open();
            });

        });
    </script>

    <div id="dialog" style="display: none;" title="تحميل تطبيق السوق">
        <div>
            لاتنسى ان تقوم بتفعيل خيار "تحميل التطبيقات من المصادر المجهولة" على جهازك اللوحي
        </div>
    </div>
</body>

</html>
