﻿@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink("لوحة التحكم", "ControlPanel", "Admin", routeValues: null, htmlAttributes: new { @class = "username", title = "لوحة التحكم" })!
        @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">تسجيل خروج</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("تسجيل الدخول", "Login", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
