﻿@{
    ViewBag.Title = "لوحة التحكم";
}

<div class="box-titlebar">
    لوحة التحكم
</div>
<div class="box-content">
    <ul>
        <li>@Html.ActionLink("التطبيقات", "index", "Applications")</li>
        <li>@Html.ActionLink("الصفوف", "index", "Grades")</li>
    </ul>

</div>
