﻿@model AndroidMarket.Models.ModelViews.LoginUser

@{
    ViewBag.Title = "تسجيل الدخول";
}
<div class="box-titlebar">
    
</div>
<div class="box-content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>تسجيل الدخول</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <p>
                <input type="submit" value="تسجيل الدخول" />
            </p>
        </fieldset>
    }
</div>
